{% render '@header' %}
{% render '@feature' %}
<div class="container" style="margin-top: 4em; margin-bottom: 4em;">
<h2>Putting you in control of your online experience</h2>
<p>Using the web as the platform, we build open, innovative technologies that allow developers to work free of closed, corporate ecosystems and create faster, safer web experiences for us all. </p>
</div>
{% render '@footer' %}
