// Base styling

@import 'base/vars';

$bodyBackground: #000;
$featureBackground: #ff4f53;
$borderColor: #fff;

@import 'base/base';
@import 'base/utilities';

@import 'components';

.container {
  color: #fff;
}
