*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  background-color: $bodyBackground;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-family: "Zilla Slab Highlight", sans-serif;
  font-size: 3em;
  line-height: 1.2;
}
