<div class="feature {{ modifier }}">
  <div class="container">
    <h1>{{ title }}</h1>
    <p>{{ intro }}</p>
    {% if call_to_action %}
    <a href="{{ call_to_action.url }}" class="button button--outline">{{ call_to_action.title }}</a>
    {% endif %}
  </div>
</div>
