<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Preview Layout</title>
    <link rel="stylesheet" title="Generic" href="/css/generic.css">
    <link rel="alternate stylesheet" title="Firefox" href="/css/theme-firefox.css">
    <link rel="alternate stylesheet" title="Black" href="/css/theme-black.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
</head>
<body>
    {{ yield }}

  <script>
  (function() {
    const links = Array.from( document.querySelectorAll( 'link[title]' ) );
    const styles = Array.from( new Set( links.map( link => link.title ) ) );
    const select = document.createElement( 'select' );
    let title = localStorage.getItem( 'title' );

    function selectStyle( title ) {
      links.forEach( link => {
        link.disabled = true;
        link.disabled = link.title !== title;
      });

      localStorage.setItem( 'title', title );
    }

    if ( styles.length > 1 ) {
      if ( title ) {
        selectStyle( title );
      }
      select.setAttribute( 'style', 'position: absolute; top: 1em; right: 1em;' );
      for ( let i = 0; i < styles.length; i++ ) {
        const option = document.createElement( 'option' );
        option.text = 'Theme: ' + styles[ i ];
        option.value = styles[ i ];
        option.selected = styles[ i ] === title;
        select.add( option );
      }
      document.body.appendChild( select );

      select.addEventListener( 'change', function( event ) {
        title = event.target.options[ event.target.selectedIndex ].value;
        selectStyle( title );
      });
    }
  }());
  </script>
</body>
</html>
