<footer class="footer {{ modifier }}">
    {% if links %}
    <h2 class="visually-hidden">Service navigation</h2>
    <ul class="footer__links">
    {% for link in links %}
        <li><a href="{{ link.href }}"><img src="/images/icons/{{ link.icon }}" alt="" aria-hidden>{{ link.text }}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
    <div class="footer__info">
        <h3><img class="footer__logo" src="/images/mozilla-inverted.svg" alt="Mozilla"></h3>
        <p>{{ aboutText }}</p>
    </div>
</footer>