<footer class="footer {{ modifier }}">
    <h2 class="visually-hidden">Service navigation</h2>
    <ul class="footer__links">
        <li><a href="https://github.com/mozilla/coss"><img src="/images/icons/contribute.svg" alt="" aria-hidden>Contribute</a></li>
        <li><a href="https://www.mozilla.org/en-US/about/legal/"><img src="/images/icons/legal.svg" alt="" aria-hidden>Legal</a></li>
        <li><a href="https://www.mozilla.org/en-US/privacy/"><img src="/images/icons/privacy.svg" alt="" aria-hidden>Privacy</a></li>
    </ul>
    <div class="footer__info">
        <h3><img class="footer__logo" src="/images/mozilla-inverted.svg" alt="Mozilla"></h3>
        <p>{{ aboutText }}</p>
    </div>
</footer>